.div-li {
  display: inline-grid;
}

.account-address {
  margin: 1em 0 0 0;
  padding: 0;
  max-width: 22ch;
  overflow: hidden;
  text-overflow: ellipsis;
}
.input-r {
  margin: 0.5em;
  margin-left: 0;
  padding: 1em 8em 1em 1em;
  display: block;
  overflow: scroll;
}
.label-r {
  margin: 0.1em;
  padding: 0.5em;
  display: block;
}
.btn-registration {
  width: 35%;
  float:inline-end;
  padding: 1em;
  margin:1em 4em 1em 1em;
}

.container-item {
  display: grid;
}
